<link rel="stylesheet" href="/stylesheets/add.css">
<div class="container mt-5">
    <h2 class="text-uppercase text-center">Hola aqui podras dejar tus tareas para que no las olvides despues</h2>
</div>

<div class="container p-4 mt-5">
    <div class="row">
        <div class="col-md-4 m-auto h-100 ">

            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Tasks</h3>
                </div>
                <div class="card-body ">
                    <form action="/add" method="POST" class="">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nombre" autofocus>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" name="title" class="form-control" placeholder="Titulo">
                        </div>
                        <div class="form-group mt-3">
                            <textarea  style="resize: none;" name="description" cols="50" class="form-control" placeholder="Description"></textarea>
                        </div>
                       
                            <button class="btn btn-primary btn-block w-100 mt-3">
                                Send
                            </button>

                            <a href="/tasks" class="btn btn-success btn-block w-100 mt-3">Ver mis Tareas</a>
                      
                    </form>
                </div>
            </div>
        </div>
        

    </div>

    
</div>