<link rel="stylesheet" href="/stylesheets/index.css">


<div class="container primero justify-content-center align-items-center d-flex h-75">

    <div class="container left justify-content-center align-items-center d-flex h-100 flex-direction-column">

        <h1 class="text-center mb-3 ">Hola Bienvenido a mi sitio Web</h1>
 <p class="lead mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, architecto! Tenetur expedita eveniet praesentium culpa?</p>
    </div> 

    <div class="container right justify-content-center align-items-center d-flex h-100">

       
            
        <a href="/login" class="btn btn-lg btn-primary mb-3 me-md-3">Registrarte</a>
       
            <a href="/signip"class="btn btn-lg btn-outline-success mb-3">Ingresar</a>
        

    </div>
</div>

