<div class="container">
  
  <div class="row ">
    <div class="col-md-6 p-2 ">
      <h3 class="m-4 text-center">Registro de Usuario</h3>

<form method="POST" action="/login" class=""  >
 <div class="mb-3">
    
    <input type="text" required name="name"  placeholder="Nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" id="name">
    
  </div>
   
   <div class="mb-3">
    
    <input type="text" required name="email"  placeholder="E-mail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    
    <input type="text" required name="user" placeholder="Usuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
  
    <input name="password" required placeholder="Password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary btn-lg mx-auto">Registrarme</button>
  <a href="/signip" class="btn btn-success btn-lg mx-auto " >Ingresar</a>

</form>
    </div>

    <div class="col-md-6 text-center d-flex flex-column justify-content-center">
      <h1 class="m-4">Lorem, ipsum dolor.</h1>
      <p class="lead mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam aut at sint, itaque nam adipisci commodi vel harum voluptatibus dolorem?</p>
    </div>
  </div>
</div>
