<div class="container">
  
  <div class="row justify-content-center">
    <div class="col-md-4 p-2">
      <h3 class="m-4">Registro de Usuario</h3>

<form method="POST" action="/signip" class="text-center">
  <div class="mb-3">
    
    <input  required type="text" name="user" placeholder="Usuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
  
    <input required name="password" placeholder="Password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <a href="/login" class="btn btn-primary btn-block  w-100" >Registrarme</a>
  <button type="submit" class="btn btn-success btn-block w-100 mt-3">Ingresar</button>
  
</form>
    </div>
    <div class="container w-100 text-center">
      <span class=" text-danger text-uppercase font-weight-bold ">{{message}}</span>
    </div>
  </div>
</div>